/* 1024 - 1179px */
@media screen and (max-width: 1179px) {
    #menu {
        margin: 0;
    }

    #header_container {
        padding-left: 20px;
        padding-right: 20px;
    }

    #main_container {
        padding: 95px 20px 80px 20px;
    }

    #bakery_container {
        padding-right: 20px;
        padding-left: 20px;
    }

    #advantages_container {
        padding-right: 20px;
        padding-left: 20px;
    }

    #products_container {
        padding-right: 20px;
        padding-left: 20px;
        padding-bottom: 0;
    }

    #products_items {
        justify-content: center;
        margin: 70px auto 50px auto;
        max-width: 728px;
    }

    .product {
        margin: 70px 15px;
    }

    #order_container {
        padding-right: 20px;
        padding-left: 20px;
    }

    #footer_container {
        padding-right: 20px;
        padding-left: 20px;
    }

    #main_image {
        max-width: 480px;
    }
}


@media screen and (max-width: 1100px) {
    #bakery_image {
        width: 500px;
    }

    #bakery_image img {
        right: 0;
        bottom: -125px;
        width: 500px;
    }

    #order_description {
        margin-left: 60px;
    }

    #main_container {
        padding-bottom: 120px;
        padding-top: 135px;
    }

    #main_image {
        max-width: 404px;
    }
}


@media screen and (max-width: 1026px) {
    #main_image {
        max-width: 404px;
    }
}


/* 768 - 1023px */
@media screen and (max-width: 1023px) {
    #header_container {
        max-width: 728px;
    }

    #menu {
        margin-left: 65px;
    }

    #header_container .telephone {
        color: transparent;
    }

    #main_container {
        padding-bottom: 420px;
        max-width: 728px;
    }

    #main_image {
        max-width: 550px;
        position: absolute;
        right: 20px;
        bottom: 0;
    }

    #main_text {
        margin-top: 70px;
    }

    #main_action {
        margin-top: 45px;
    }

    #bakery_container {
        text-align: center;
        flex-direction: column;
        align-items: center;
        padding-bottom: 0;
    }

    #bakery_info {
        max-width: 668px;
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    #bakery_title {
        max-width: 475px;
    }

    #bakery_text {
        max-width: 668px;
    }

    #bakery_image {
        width: 340px;
        height: 300px;
    }

    #bakery_image img {
        left: 0;
        top: -40px;
        width: 340px;
    }

    #advantages_container {
        text-align: center;
        justify-content: center;
        flex-wrap: wrap;
        padding-bottom: 40px;
        max-width: 728px;
    }

    .advantage {
        margin: 0 30px 80px 30px;
    }

    .advantage .advantage_text {
        display: inline-block;
    }

    #order {
        overflow: hidden;
    }

    #order_container {
        padding-top: 120px;
        padding-bottom: 120px;
        max-width: 728px;
    }

    #order_description {
        margin-left: 0;
        position: static;
    }

    #order_image {
        order: 2;
        width: 425px;
        position: absolute;
        bottom: -55px;
        right: -18px;
    }

    #order_picture {
        width: 425px;
    }

    #big_strawberry {
        width: 72px;
    }

    #order_description img {
        top: 250px;
        right: 116px;
    }
}


/* 425 - 767px */
@media screen and (max-width: 767px) {
    #header_container {
        flex-direction: column;
    }

    #menu {
        margin-left: 0;
        margin-top: 15px;
    }

    #header_container .telephone {
        display: none;
    }

    #main_container {
        flex-direction: column;
        text-align: center;
        align-items: center;
        padding-top: 50px;
        padding-bottom: 10px;
    }

    #main_image {
        position: static;
        max-width: 400px;
        margin-top: 20px;
    }

    #main_info h1 {
        font-size: 45px;
    }

    #main_text {
        display: inline-block;
        margin-top: 40px;
    }

    #bakery_container {
        padding-top: 100px;
    }

    #bakery_title {
        font-size: 38px;
    }

    #bakery_text {
        margin-top: 40px;
        margin-bottom: 20px;
    }

    #bakery_image {
        height: 264px;
    }

    #advantages_container {
        padding-bottom: 60px;
    }

    .advantage {
        margin-bottom: 40px;
    }

    #products_container {
        padding-top: 100px;
    }

    #products_title {
        font-size: 38px;
    }

    #products_items {
        margin-top: 50px;
        margin-bottom: 30px;
     }

    #order_container {
        padding-top: 100px;
        padding-bottom: 80px;
        justify-content: center;
    }

    #order_description img {
        display: none;
    }

    #order_image {
        display: none;
    }

    #order_form {
        max-width: 100%;
    }

    #order_title {
        font-size: 38px;
    }

    #order_form {
        position: relative;
    }

    #order_form img {
        display: block;
        width: 72px;
        position: absolute;
        top: -33px;
        right: 0;
    }
}

@media screen and (max-width: 604px) {
    #advantages_container {
        padding-bottom: 25px;
    }

    .advantage {
        width: 185px;
    }

    .advantage .advantage_text {
        height: 154px;
    }

    #footer_container {
        padding: 50px 15px 100px 15px;
        flex-direction: column;
        position: relative;
    }

    #footer_logo {
        align-items: center;
        margin-bottom: 95px;
    }

    #rights {
        position: absolute;
        display: inline-block;
        width: 170px;
        bottom: 50px;
        left: calc(50% - 85px);
        margin: 0;
    }

    #footer_container .telephone {
        position: absolute;
        top: 100px;
        left: calc(50% - 76px);
    }
}

@media screen and (max-width: 545px) {
    #advantages_container {
        justify-content: center;
        padding-bottom: 16px;
    }

    .advantage {
        margin: 0 10px 40px 10px;
        width: 165px;
    }

    .advantage .advantage_title {
        font-size: 18px;
    }

    .advantage .advantage_text {
        max-width: 165px;
        font-size: 13px;
        line-height: 1.385;
    }
}

@media screen and (max-width: 520px) {
    #main_info h1 {
        font-size: 36px;
    }

    #main_text {
        font-size: 16px;
        line-height: 1.438;
    }

    #main_image {
         max-width: 350px;
     }

    #bakery_title {
        font-size: 34px;
        line-height: 1.167;
    }

    #bakery_text {
        font-size: 16px;
        line-height: 1.437;
    }

    #products_title {
        font-size: 34px;
    }

    #order_title {
        font-size: 34px;
    }

    #order_text {
        font-size: 16px;
        line-height: 1.437;
    }
}

/* 375 - 424px */
@media screen and (max-width: 424px) {
    #header_container {
        padding-left: 15px;
        padding-right: 15px;
        justify-content: space-between;
        flex-direction: row;
    }

    #header_container .logo {
        margin-left: 5px;
    }

    #main_container {
        padding-left: 15px;
        padding-right: 15px;
    }

    #main_info h1 {
        font-size: 32px;
    }

    #main_image {
        max-width: 265px;
    }

    #bakery_container {
        padding-left: 15px;
        padding-right: 15px;
    }

    #bakery_title {
        font-size: 30px;
    }

    #bakery_text {
        line-height: 1.437;
    }

    #advantages_container {
        padding-left: 15px;
        padding-right: 15px;
        margin-left: 0;
        margin-right: 0;
        justify-content: space-around;
    }

    .advantage {
        margin: 0 0 40px 0;
    }

    #products_container {
        padding-left: 15px;
        padding-right: 15px;
    }

    #products_title {
        font-size: 30px;
    }

    #order_container {
        padding-left: 15px;
        padding-right: 15px;
    }

    #order_title {
        font-size: 30px;
    }

    #menu {
        display: none;
        position: fixed;
        width: 100%;
        height: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        margin: 0;
        padding-top: 30px;
        background: #000000d9;
        top: 0;
        left: 0;
    }

    #menu a.menu_item {
        color: white;
        margin: 15px 0;
    }

    #burger {
        display: inline-block;
        order: 2;
    }

    #burger svg {
        width: 40px;
        height: 40px;
        fill: #821328;
    }

    #menu.open {
        display: flex;
        z-index: 90;
    }

    #menu svg {
        width: 24px;
        display: block;
        fill: white;
        position: absolute;
        top: 20px;
        left: 20px;
    }
}


/* 320 - 374px */
@media screen and (max-width: 374px) {
    #main_info h1 {
        font-size: 27px;
    }

    #main_text {
        font-size: 15px;
    }

    #bakery_title {
        font-size: 26px;
    }

    #bakery_text {
        font-size: 15px;
    }

    #bakery_image {
        width: 300px;
        height: 240px;
    }

    #bakery_image img {
        width: 300px;
    }

    .advantage {
        width: 145px;
    }

    .advantage .advantage_title {
        font-size: 15px;
    }

    .advantage .advantage_text {
        font-size: 12px;
        max-width: 130px;
    }
}
